body{
    margin: 0;
    font-family: sans-serif;
}

.search,.searchBtn{
   border-radius: 5px;
    padding: 2px;
}

.searchBtn{
    padding-left: 8px;
    padding-right: 8px;
    
}

.top-nav{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}


.top-nav a{
    padding: 10px 15px;
    text-decoration: none;
    color:#a9a9a9;
    font-weight: bold;
}

.top-nav a:hover{
    color: white;
    background-color: black;
}

.fa-angle-down{
    font-size:12px;
    padding: 5px;
    columns: #3a9c01;;
}

.mainGrid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  
    column-gap: 2em; 
}


.table2 ,.table3{
    margin-top: 15px;
}


table,th,.table1 td {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 1em;
    width: 350px;
    border-collapse: collapse;
    border: 1px solid #dadada ;
}

.table4 table,.table4 th, .table4 tr{
    border: none;
}

.table2 td,.table3 td{
    padding: 10px;
    text-align: left;
    font-size: 1em;
    width: 100%;
}

.post button,.table2 button,.table3 button{
    background-color: white;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    font-size: 0.9rem;
}

.table1 th,.table3 th,.table2 th{
    background-color: #ececec;
    font-family: sans-serif;
    font-weight: bolder;
}

.table4{
    border: none;
    margin-top: 10px;
}

.column3 .table2{
    margin-top: 0;
}

.table4 th{
font-size: 1.5em;
font-family: sans-serif;
font-weight: 600;
}


.promptBox{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 97, 0, 0.1);
    color: rgb(0, 97, 0);
    padding: 10px;
    border:1px solid rgb(0, 97, 0);
}

.post a{
    padding: 10px ;
    text-decoration: none;
}

.postBottom{
    display: flex;
    justify-content: space-between;
}

.bottomRight button{
    background-color: gray;
    color: white;
    font-size: 10px;
}

.postBottom a{
    margin-top: 13px;
}

.post h1{
    font-size: 2em;
    font-weight: 600;
}

input{
    padding: 10px;
    background-color: white;
    border: 1px solid #e2e2e2;
    font-size: 13px;
    margin-top: 10px;
    width: 90%;
}

hr{
    border-width:0 ;
    height: 0.5px;
    color: #e2e2e2;
    background-color:#e2e2e2;
}


@media screen and (max-width: 768px) {
  .mainGrid {   

    padding: 10px;
    margin: auto;
    grid-template-columns: 1fr;
    align-content: center;
  }
}


@media screen and (max-width: 768px) {
  .top-nav {   
    display: flex;
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .inner-nav {   
    display: flex;
    height: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .nav2 {   
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}


@media screen and (max-width: 768px) {
  table {   
   width:312px
  }
}